<div class="row log-row">
    <h4 class="log-caption">micro :) '{{ button.text|e }}'</h4>
    <img class="log-caption log-loader" id="logLoader" src="img/loader.gif">
    <a id="beginBtn" class="log-caption btn btn-primary" href="javascript:void(0);">Красная кнопка</a>
</div>

{% if echo_bool %}
<span>ПРАВДА</span>
{% else %}
<span>ЛОЖЬ</span>
{% endif %}

<div class="container">
    <table class="table table-striped table-condensed table-bordered table-hover">
        <caption>Таблица с какой-то залупой</caption>
        <thead>
            <tr>
                <th>№</th>
                <th>Город</th>
                <th>Страна</th>
                <th>Население</th>
            </tr>
        </thead>
        <tbody>
            {% for row in some_el.rows %}
            <tr>
                <td>{{ row.# }}.</td>
                <td>{{ row.city|e }}</td>
                <td>{{ row.country }}</td>
                <td>{{ row.population }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    {% if place_button %}
        <a class="btn btn-success" href="javascript:void(0);">{{ button.text }}</a>
    {% else %}
        <input type="email" class="form-control" value="{{ email }}" placeholder="Введи имайлку"/>
    {% endif %}
</div>

        {{ some_data|raw }}

<div>
<!--
    {{?some_flag=1}}
        <span class="label">first label</span>
    {{?some_flag="warning"}}
        <span class="label label-warning">Some warning label</span>
    {{?some_flag='place_button'}}
        <span class="label label-success">Some success label</span>
    {{?some_flag=8}}
        <span class="label label-success">Some success label</span>
    {{!some_flag}}
        <span class="label label-important">DEFAULT LABEL</span>
    {{;some_flag}}
-->
</div>


{% if flag3 %}
Если флаг3 истина, то вывести эту бессмыслицу
{% endif %}

<pre class="log-container" id="logPre">{{ lines }}</pre>
